########################
# npm / node
########################
node_modules
npm-debug.log


########################
# gruntplugin
########################
tmp
dist
test/expected/css
test/expected/js/lib/*.js
test/expected/js/vendor/*.js
test/expected/js/app/core/*.js
test/expected/js/app/util/*.js
test/expected/js/app/feature/*.js


########################
# misc / editors
########################
.DS_Store
.sass-cache
.philosophy