@import "compass/reset";

$kokiri_green: #349c3b;
$navi_tolerance: 20px;

.link {
    border-color: $kokiri_green;
    color: darken( $kokiri_green, 20% );
}

.navi {
    padding: $navi_tolerance / 2;
    margin: $navi_tolerance / 2;
}